@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;700&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #EEE0CB;
}

.bookshop_header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #F71735;
    color: #EEE0CB;
}

.bookshop_header .dh_title {
    font-family: "Mulish", sans-serif;
    font-weight: 300;
}

.bookshop_header #menu {
    position: absolute;
    top: 3%;
    right: 2%;
    display: flex;
    width: auto;
    height: 26vh;
}

.bookshop_header #menu #options {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2%;
    padding: 2%;
    border: 1px solid black;
    background-color: #ecd3d3;
}

.bookshop_header #menu #options a {
    font-size: 20px;
    color: #da0275e8;
    text-decoration: none;
}

.bookshop_header #menu #options a:hover {
    color: #ee0f0f;
}

.bookshop_header #menu #dh_menu_btn {
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 5px;
    outline: none;

    background-color: #f7425a;
    color: #EEE0CB;
    font-size: 25px;
    transition: filter .3s;
}

.bookshop_header #menu #dh_menu_btn:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
}

.content #dh_carousel {
    width: 100%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../images/carousel/celebration.png");
}

.content #dh_carousel #carousel_button_prev {
    align-self: flex-start;
}

.content #dh_carousel #carousel_button_next {
    align-self: flex-end;
}

.content .filters {
    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

}

.content .filters .name_box {
    display: flex;
}

.content .filters .name_box #search_bar {
    width: 50vw;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    border: 1px solid #888;
    border-right: none;
    outline: none;

    font-family: "Mulish", sans-serif;
    color: #666;
}

.content .filters .name_box #search_button {
    font-size: 20px;
    padding: 11px;
    border-radius: 0 25px 25px 0;
    border: 1px solid #888;
    border-left: none;
    outline: none;

    color: #666;

    transition: filter .3s;
}

.content .filters .name_box #search_button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.content .filters .advanced_filters select {
    width: 25vw;
    font-size: 20px;
    font-family: "Mulish", sans-serif;

    padding: 10px;

    color: #666;
    border: 1px solid #888;
}

.content .showcase {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    margin: 50px 0;
}

.content .showcase .card {
    width: 300px;
    height: 400px;
    margin: 10px 0;
    position: relative;
}

.content .showcase .card img{
    width: 100%;
    height: 100%;
}

.content .showcase .card .overlay {
    width: 300px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;

    background-color: #7777;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #F71735;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEE0CB;
}

@media(min-width: 1498px) {
    .showcase {
        width: 60vw;
    }
}