@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;700&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #EEE0CB;
    font-family: "Mulish", sans-serif; /* Alteração da Fonte */
}

.bookshop_header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: #F71735;
    color: #EEE0CB; */
    /* Atualização de cor */
    background-color: #bc002e;
    color: #fff;

}

.dh_title {
    font-family: "Mulish", sans-serif;
    font-weight: 300;
}

#dh_menu_btn {
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 5px;
    outline: none;

    /* background-color: #f7425a;
    color: #EEE0CB; */

    /* Atualização de cor */
    background-color: #EEE;
    color: #040e3c;

    font-size: 25px;
    transition: filter .3s;
}

#dh_menu_btn:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
}
/*
#dh_carousel {
    width: 100%;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ccc; 
}

.carrousel_label {
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #777;
}
*/
.filters {
    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

}

.name_box {
    display: flex;
}

#search_bar {
    width: 50vw;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    border: 1px solid #888;
    border-right: none;
    outline: none;

    font-family: "Mulish", sans-serif;
    color: #666;
}

#search_button {
    font-size: 20px;
    padding: 11px;
    border-radius: 0 25px 25px 0;
    border: 1px solid #888;
    border-left: none;
    outline: none;

    color: #666;

    transition: filter .3s;
}

#search_button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.advanced_filters select {
    width: 25vw;
    font-size: 20px;
    font-family: "Mulish", sans-serif;

    padding: 10px;

    color: #666;
    border: 1px solid #888;
}

/* .showcase {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    margin: 50px 0;
} */

/* .card {
    width: 300px;
    height: 400px;
    margin: 10px 0;
    position: relative;
} */

 /* .overlay {
    width: 300px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;

    background-color: #7777;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    box-sizing: border-box;
} */

footer {
    width: 100%;
    height: 80px;
    /* background-color: #F71735;
    color: #EEE0CB; */
    /* Atualização de cor */
    background-color: #333;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 1498px) {
    .showcase {
        width: 60vw;
    }
}

/* Alterações Douglas Reis - Vespertino */

/* Menu */
*{
    box-sizing: border-box;
}
.sidenav {
    background-color: #bc002e;
    list-style: none;
    
    height: 100%;
    width: 266px;
    
    position: fixed;
    top: 0;
    right: -266px;
    z-index: 10;
    
    margin: 0;
    padding: 60px 20px;
    
    transition: 1s;
}

.sidenav a {
    color: #ccc;
    
    text-decoration: none;
    font-size: 25px;
    
    display: block;
    padding: 8px;
    border-bottom: 1px solid #fff;
}

.sidenav a:hover{
    background-color: #cb1e40;
    color: #fff;
}

.sidenav .closeNav {
    position: absolute;
    top: 0;
    left: 0;
    
    font-size: 36px;
    border: none;
}

/* Carousel */

#dh_carousel{
    overflow: hidden;
}

#carousel_container{
    display: flex;
    width: 300%; /* relativo ao nº de elementos */
    height: 60vh;
    /* Animação com css */
    position: relative;
    animation: slider 20s linear infinite;
}

.slide_carousel{
    width: 100%;
    height: 100%;
}

.text_carousel{
    width: 60%;
    margin: auto;
}

.slide_carousel h2{
    color: #fff;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
}

.slide_carousel p{
    color: #fff;
    text-align: center;
    font-size: 1.3em;
}

#slide1{
    background-image: url('./img/slides/slide1.jpg');
    background-size: cover;
    background-position: center;
}

#slide2{
    background-image: url('./img/slides/slide2.jpg');
    background-size: cover;
    background-position: center;
}

@keyframes slider {
    0%{
        left: 0%;
    }
    45%{
        left: 0%;
    }
    50%{
        left: -100%;
    }
    95%{
        left: -100%;
    }
    100%{
        left: -200%;
    }
}

/* Showcase */

.showcase {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: center;
    margin: 50px 0;
}

.card {
    width: 300px;
    height: 400px;
    margin: 10px 0;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: #fff;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay h2{
    color: #bc002e;
    font-size: 1.25em;
    padding: 3px;
    text-transform: uppercase;
}

.overlay p{
    color: #888;
    margin: 0;
    padding: 6px;
    font-size: 0.9em;
}