@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;700&display=swap');
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #EEE0CB;
}

.bookshop_header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F71735;
    color: #EEE0CB;
}

.dh_title {
    font-family: "Mulish", sans-serif;
    font-weight: 300;
}

#dh_menu_btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #f7425a;
    color: #EEE0CB;
    font-size: 25px;
    transition: filter .3s;
}

#dh_menu_btn:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.menu {
    background-color: white;
    height: 100%;
    width: 270px;
    position: fixed;
    right: -270px;
    top: 0;
    z-index: 20;
    transition: right 0.3s linear;
    border-left: 1px solid #888;
}

.menu_overlay {
    background-color: #7777;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.titulo_menu {
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #F71735;
    margin: 20px 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

#dh_carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.carousel-item {
    position: relative;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.display {
    display: initial;
}

.carrousel_label {
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #777;
}

.filters {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.name_box {
    display: flex;
}

#search_bar {
    width: 50vw;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    border: 1px solid #888;
    border-right: none;
    outline: none;
    font-family: "Mulish", sans-serif;
    color: #666;
}

#search_button {
    font-size: 20px;
    padding: 11px;
    border-radius: 0 25px 25px 0;
    border: 1px solid #888;
    border-left: none;
    outline: none;
    color: #666;
    transition: filter .3s;
}

#search_button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.advanced_filters select {
    width: 25vw;
    font-size: 20px;
    font-family: "Mulish", sans-serif;
    padding: 10px;
    color: #666;
    border: 1px solid #888;
}

.showcase {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    /* margin: 50px 0; */
}

.card {
    width: 300px;
    height: 400px;
    margin: 10px 0;
    position: relative;
}

.overlay {
    width: 300px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: #7777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    justify-items: center;
}

.formatoTitulo {
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: lightsalmon;
}

.formatoAutor {
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: lightsalmon;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #F71735;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEE0CB;
}

@media(min-width: 1498px) {
    .showcase {
        width: 60vw;
    }
}


/*Novos estilos carousel*/

* {
    margin: 0;
    padding: 0;
}

.slider {
    display: block;
    height: 70vh;
    width: 100%;
    margin: auto;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    transition: .9s;
}

.slider input {
    display: none;
}

.slider label {
    /* background-color: blueviolet; */
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}


/* GLOBAL STYLES CAROUSEL
-------------------------------------------------- */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}