/* carrosel são imagens passando */


#dh_carrossel{
    width:100%;
    margin: auto;
    overflow: hidden;
    }

#dh_carrossel ul{
          padding:0;
          display: flex;
          width:400%;
          animation: mudar 20s infinite;}
    
#dh_carrossel li {
        list-style:none;
        width:100%;}
      
#dh_carrossel img{
          width:100%;
          height:60%;
        }  


        @keyframes mudar{ 
        
        0%{margin-left:0;}
        20%{margin-left:0;}
        
        25%{margin-left:-100%;}
        45%{margin-left:-100%;}
        
        50%{margin-left:-200%;}
        70%{margin-left:-200%;}
        
        75%{margin-left:-300%;}
        100%{margin-left:-300%;}
        
}