@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;700&display=swap');

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #eee0cb;
}

.bookshop_header {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #f71735;
  color: #eee0cb;
  position: relative;
}

.dh_title {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

.dh_menu {
  display: none;
  cursor: pointer;
  background-color: #f71735;
  border-radius: 4px;
  width: 92%;
  left: 0px;
}

.dh_menu.show {
  display: block;
  position: absolute;
  top: 60px;
  animation: down 1.5s ease;
  opacity: 0.95;
}

.dh_menu.voltar {
  display: block;
  position: absolute;
  top: -150px;
  animation: up 2s ease;
  opacity: 0;
}

@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.95;
  }
}

@keyframes up {
  0% {
    opacity: 0.95;
    transform: translateY(200px);
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.dh_menu li {
  list-style: none;
  text-align: left;
  padding: 16px;
  margin-right: 64px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  text-transform: capitalize;
  border-bottom: 0.2px solid #f7425a;
  border-top: 0.2px solid #f7425a;
}

.dh_menu li:hover {
  filter: brightness(90%);
  border-bottom: #f82a46;
}

i {
  font-size: 18px;
  color: #eee0cb;
  margin-right: 8px;
}

#dh_menu_btn {
  width: 50px;
  height: 50px;

  border: none;
  border-radius: 5px;
  outline: none;

  background-color: #f7425a;
  color: #eee0cb;
  font-size: 25px;
  transition: filter 0.3s;
}

#dh_menu_btn:hover {
  filter: brightness(80%);
  cursor: pointer;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
}

#dh_carousel {
  width: 100%;
  height: 60vh;
  background-color: #c5b5b5;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-bottom: 16px;
  padding-top: 16px;
}

#dh_carousel img {
  width: 85%;
  border-radius: 8px;
  height: 60vh;
}

#dh_carousel img.changeLeft {
  animation: changeLeft 500ms ease;
}

#dh_carousel img.changeRight {
  animation: changeRight 500ms ease;
}

@keyframes changeLeft {
  0% {
    opacity: 0.3;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes changeRight {
  0% {
    opacity: 0.2;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
  }
}

.carousel_arrow:hover {
  filter: brightness(125%);
  cursor: pointer;
}

#arrowRight:hover {
  position: relative;
  right: -4px;
}

#arrowLeft:hover {
  position: relative;
  left: -4px;
}

.carrousel_label {
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: #777;
}

.filters {
  width: 100%;
  height: 120px;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;
}

.name_box {
  display: flex;
}

#search_bar {
  width: 50vw;
  font-size: 20px;
  padding: 10px;
  border-radius: 25px 0 0 25px;
  border: 1px solid #888;
  border-right: none;
  outline: none;

  font-family: 'Mulish', sans-serif;
  color: #666;
}

#search_button {
  font-size: 20px;
  padding: 11px;
  border-radius: 0 25px 25px 0;
  border: 1px solid #888;
  border-left: none;
  outline: none;

  color: #666;

  transition: filter 0.3s;
}

#search_button:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.advanced_filters select {
  width: 25vw;
  font-size: 20px;
  font-family: 'Mulish', sans-serif;

  padding: 10px;

  color: #666;
  border: 1px solid #888;
}

.showcase {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: center;
  margin: 50px 0;
}

.card {
  width: 300px;
  height: 400px;
  margin: 10px 0;
  border-radius: 8px;
  position: relative;
}

.card .overlay {
  display: none;
}

.card img {
  width: 300px;
  height: 400px;
  opacity: 0.9;
}

.maisInfo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  background-color: #777;
  color: #fff;
  padding: 8px;
  font-size: 30px;
  text-align: center;
}

.overlay {
  width: 300px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;

  background-color: #7777;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  box-sizing: border-box;

  display: none;
  color: #fff;
  text-align: center;
}

.overlay h2 {
  color: #fff;
  font-size: 30px;
  line-height: 150%;
  font-weight: 700;
}

.overlay p {
  font-size: 16px;
  line-height: 150%;
}

.overlay p + P {
  width: 70%;
  font-size: 24px;
  background-color: #444;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.overlay a {
  width: 50%;
  height: 30px;
  background-color: #ec455b;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.overlay a:hover {
  background-color: #f71735;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #f71735;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee0cb;
}

footer div {
  font-size: 12px;
}

@media (min-width: 1498px) {
  .showcase {
    width: 60vw;
  }
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.623);
  width: 100%;
  height: 100%;
  z-index: 3;
  position: fixed;
  top: 0;

  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: #fff;
  opacity: 1;
  border-radius: 4px;

  width: 70vw;
  max-width: 800px;

  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 16px;

  display: flex;

  box-shadow: 4px 4px 4px #888;
}

.close-modal {
  color: #000;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  width: 20%;
  background-color: #f7425a;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.close-modal:hover {
  width: 25%;
  border-radius: 8px;
  background-color: #f71735;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;

  transition: 400ms;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-content .modal-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content .modal-img img {
  width: 40vw;
  height: 30vh;
}

.modal-content .modal-info {
  width: 80%;
  padding: 32px;
  text-align: justify;
}

.modal-content .modal-info h2 {
  color: #444;
  font-size: 32px;
  font-weight: 700;
}

.modal-content .modal-info h3 {
  color: #666;
  font-size: 24px;
}

.modal-content .modal-info p {
  color: #333;
  font-size: 18px;
}

.modal-content .modal-info p.modal-price {
  font-weight: 700;
  font-size: 22px;
  color: #222;
}

@media (min-width: 800px) {
  .modal-content {
    display: flex;
    flex-direction: row;
  }

  .modal-content .modal-img img {
    width: 80%;
    height: 400px;
    max-height: 30vh;
  }
}
